<mat-card>
  <mat-card-content>
    <div class="header">
      <h2>LOGIN</h2>
    </div>
    <form  name="loginForm"
           [formGroup]="loginForm">

      <div class="error" *ngIf="loginForm.controls.email.errors && isSubmit">
        <div *ngIf="loginForm.controls.email.errors.required">Required value</div>
        <div *ngIf="loginForm.controls.email.errors.email">Email is invalid</div>
      </div>
      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" placeholder="Email" formControlName="email" matInput>
        </mat-form-field>
      </div>

      <div class="error" *ngIf="loginForm.controls.password.errors && isSubmit">
        <div *ngIf="loginForm.controls.password.errors.required">Required value</div>
      </div>
      <div class="password-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" placeholder="Password" formControlName="password" matInput>
        </mat-form-field>
      </div>

      <div class="subbmit-button">
        <button mat-raised-button color="accent" (click)="onSubmit()">Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
