<mat-toolbar color="accent">
  <a class="logo" routerLink="/"><mat-icon> fastfood</mat-icon>Pizza Delivery</a>

  <div class="space"></div>

  <a *ngIf="user.isadmin" class="buttons" mat-raised-button routerLink="/admin" style="margin-right:1.5rem">Admin Page</a>

  <a class="buttons" mat-raised-button routerLink="/cart-page" style="margin-right:1.5rem">Cart</a>

  <button *ngIf="(auth.isAuthenticated$ | async) === false" class="buttons" mat-raised-button (click)="loginWithAuth0()" style="margin-right:1.5rem">Login with Auth0</button>

  <span *ngIf="(auth.isAuthenticated$ | async)" class="material-icons" (click)="logoutWithAuth0()" style="margin-right:1.5rem">logout</span>

</mat-toolbar>

