<mat-card>
  <mat-card-content>
    <div class="header">
      <h2>REGISTER</h2>
    </div>
    <form  name="loginForm"
           [formGroup]="registerForm">

      <div class="name-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input type="name" placeholder="Name" formControlName="name" matInput>
        </mat-form-field>
      </div>
      <div class="error" *ngIf="registerForm.controls.name.errors && isSubmit">
        <div *ngIf="registerForm.controls.name.errors.required">Required value</div>
      </div>

      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" placeholder="Email" formControlName="email" matInput>
        </mat-form-field>
      </div>
      <div class="error" *ngIf="registerForm.controls.email.errors && isSubmit">
        <div *ngIf="registerForm.controls.email.errors.required">Required value</div>
        <div *ngIf="registerForm.controls.email.errors.email">Email is invalid</div>
      </div>

      <div class="password-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" placeholder="Password" formControlName="password" matInput>
        </mat-form-field>
      </div>
      <div class="error" *ngIf="registerForm.controls.password.errors && isSubmit">
        <div *ngIf="registerForm.controls.password.errors.required">Required value</div>
      </div>

      <div class="subbmit-button">
        <button mat-raised-button color="accent" (click)="onSubmit()">Register</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
